<?xml version="1.0" encoding="utf-8"?>
<nlog xmls="http://ww.nlog-project.org/scemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/Nlog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info">
	<extensions></extensions>

	<targets async="true">
		<target name="ExceptionDatabase" xsi:type="Database">
			<connectionStringName>sql.connectstring</connectionStringName>
			<commandType>Text</commandType>
			<commandText>INSERT INTO ExceptionLogs([User], [DateCreated], [Message], [StackTrace], [ClassName]) VALUES (@User, GetDate(), @Message, Substring(@StackTrace, 0, 998), Substring(@ClassName, 0, 29));</commandText>
			<parameter name="@User" layout="${identity}"></parameter>
			<parameter name="@Message" layout="${message}"></parameter>
			<parameter name="@StackTrace" layout="${stacktrace: format-flex}"></parameter>
			<parameter name="@ClassName" layout="${logger: shortName=true"></parameter>
		</target>

		<target name="DefaultTarget" xsi:type="Console"></target>
	</targets>
	<rules>
		<logger name="*" level="Error" writeTo="ExceptionDatabase" final="false"></logger>
		<logger name="*" level="Debug" writeTo="DefaultTarget"></logger>
	</rules>
</nlog>